html {
	font-size: 16px;
	font-family:'inter';
	padding:0;
	margin:0;
}

body{
	display:flex;
	align-items:center;
	justify-content:center;
	min-height: 100vh;
	background: sandybrown;
	padding: 0 10px;
}

.container {
	max-width: 1200px;
}

.container i{
	background: #fff;
	font-size:48px;
	color:red;
	height:46px;
	width:46px;
	line-height: 46px;
	text-align:center;

}

.container, .slideshow {
	font-size: 0px;
	white-space: nowrap;
	cursor: pointer;
	overflow: hidden;
}

.slideshow img{
	height: 340px;
	width:calc(100% / 3);
	object-fit: cover;
	margin-left:16px;
	
}

.slideshow img:first-child{
	margin-left: 0px;
}

