html {
	font-size: 16px;
	font-family:'inter';
	padding:0;
	margin:0;
}

body{
	display:flex;
	align-items:center;
	justify-content:center;
	min-height: 100vh;
	background: coral;
	padding: 0 35px;
}

.container {
	max-width: 1200px;
	position: relative;
}

.container i{
	top:45%;
	background: #fff;
	position:absolute;
	font-size:30px;
	color:black;
	height:30px;
	width:30px;
	cursor: pointer;
	line-height: 30px;
	text-align:center;
	border-radius: 50%;
	transform: translateY(-50%);
}

.container i:hover{
	background:lightgray;
	
}


#left{
	left: 10px;
	display:none;
}

.container i:last-child{
	right: 10px;
}


.container, .slideshow {
	font-size: 0px;
	white-space: nowrap;
	cursor: default;
	overflow: hidden;
	scroll-behavior: smooth;
}

.slideshow.dragging {
	cursor:grab;
	scroll-behavior: auto;
}

.slideshow.dragging img {
	pointer-events:none;
}


.slideshow img{
	position:relative;
	max-width:100%;
	height: auto;
	width:calc(100% / 3);
	object-fit: cover;
	margin-left:16px;
	cursor:grab;
	
}

.slideshow img:first-child{
	margin-left: 0px;
}

.slideshow-image1__caption {
	color:#fff;
	margin:0 16px 8px;
	position:relative;
	align-items: center;
	justify-content: center;
	width:400px;
	bottom:0;
	left:0;
	right:0;
	display:flex;
	justify-content:center;

}

.slideshow-image1__caption-text{
	font-size:16px;
	background: rgba(0,0,0,0.5);
	padding: 4px 8px;
	position:absolute;
	white-space: nowrap;
	border-radius:4px;
}

.slideshow-image2__caption {
	color:#fff;
	margin:0 16px 8px;
	position:relative;
	align-items: center;
	justify-content: center;
	width:400px;
	bottom:0;
	left:0;
	right:0;
	display:flex;
	justify-content:center;

}

.slideshow-image2__caption-text{
	font-size:16px;
	background: rgba(0,0,0,0.5);
	padding: 4px 8px;
	position:absolute;
	white-space: nowrap;
	border-radius:4px;
}


.slideshow-image3__caption {
	color:#fff;
	margin:0 16px 8px;
	position:relative;
	align-items: center;
	justify-content: center;
	width:400px;
	bottom:0;
	left:0;
	right:0;
	display:flex;
	justify-content:center;

}

.slideshow-image3__caption-text{
	font-size:16px;
	background: rgba(0,0,0,0.5);
	padding: 4px 8px;
	position:absolute;
	white-space: nowrap;
	border-radius:4px;
}


.slideshow-image4__caption {
	color:#fff;
	margin:0 16px 8px;
	position:relative;
	align-items: center;
	justify-content: center;
	width:400px;
	bottom:0;
	left:0;
	right:0;
	display:flex;
	justify-content:center;

}

.slideshow-image4__caption-text{
	font-size:16px;
	background: rgba(0,0,0,0.5);
	padding: 4px 8px;
	position:absolute;
	white-space: nowrap;
	border-radius:4px;
}



.slideshow-image5__caption {
	color:#fff;
	margin:0 16px 8px;
	position:relative;
	align-items: center;
	justify-content: center;
	width:400px;
	bottom:0;
	left:0;
	right:0;
	display:flex;
	justify-content:center;

}

.slideshow-image5__caption-text{
	font-size:16px;
	background: rgba(0,0,0,0.5);
	padding: 4px 8px;
	position:absolute;
	white-space: nowrap;
	border-radius:4px;
}




.navigation{
	position:relative;
	text-align: center;
	padding:10px;
	cursor:default;
}

.indicator{
	width:15px;
	height: 15px;	
	cursor:pointer;
	margin: 10px;
	background-color:snow;
	display: inline-block;
	border-radius:50%;
	justify-content: center;
	align-items: center;
	
}


.indicator:hover{
	background:lightgray;
	
}

@media screen and (max-width:900px) {
	.slideshow img{
		width:calc(100% / 2);
		
	}
	.container i{
		top:45%;
		background: #fff;
		position:absolute;
		font-size:18px;
		color:black;
		height:22px;
		width:22px;
		cursor: pointer;
		line-height: 22px;
		text-align:center;
		border-radius: 50%;
		transform: translateY(-50%);
	}

	.indicator{
		width:20px;
		height: 20px;
	}
}


@media screen and (max-width:500px) {
	.slideshow img{
		width:100%;
	}
	.container i{
		top:45%;
		background: #fff;
		position:absolute;
		font-size:24px;
		color:black;
		height:30px;
		width:30px;
		cursor: pointer;
		line-height: 30px;
		text-align:center;
		border-radius: 50%;
		transform: translateY(-50%);
	}

	.indicator{
		width:25px;
		height: 25px;
		
		
	}
}
